*.7zip
*.a
*.bak
*.bz
*.bz2
*.conda
*.core
*.coverage
*.css
*.csv
*.dat
*.db
dist/
*.dll
*.doc
*.docx
*.docm
.DS_Store
*.dylib
*.egg-info/
*.env
*.exe
*.feather
*.html
htmlcov/
.idea/
.ipynb_checkpoints/
*.js
*.json
*.lzma
.mypy_cache/
*.npy
*.o
*.pdf
*.pem
*.ppt
*.pptx
*.pptm
*.pq
*.pub
*.pyc
__pycache__/
.pytest_cache/
*.rda
*.rds
*.Rdata
*.rsa
.ruff_cache/
*.snappy-*.tar.gz
*.so
*.sqlite
*.tar.gz
*.tgz
*.tmp
*.whl
*.xls
*.xlsx
*.xlsm
*.zip
*.zstd
